

.scroll-container{
    position: relative;
    margin-left: 2.5vw;
    width: 95vw;
    height: 125px;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    
    
}

.scroll-container::-webkit-scrollbar {    display: none;}

.arrows-scroll{
    width: 100vw;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0%;

}

.arrows-items{      
    cursor: pointer;
    z-index: 3;
    position: fixed;

    
}
.left-arrow{
    left: 5px;
}

.rigth-arrow{
    right: 5px;
   
}

.dates-container{
    cursor: pointer;
    z-index: 2;
    margin: 0 12px;
    background-color: aqua;
    width: 150px;
    height: 80%;
    display: flex;
    flex:none;
}
