/* You can add global styles to this file, and also import other style files */

html{
    font-size: 18px;
    
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden
}


@media(max-width:540px) {
    html{
        font-size: 12px;
    }
}
